@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: linear-gradient(to left, black, #012933);
    --text-color: #ffffff;
    --main-color: rgb(20, 202, 202);
    --white-color: #f1efef;
    --shadow-color: rgb(0, 0, 0);
}

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}



html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}



/* navbar */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 4%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: linear-gradient(180deg, black, #012933);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 600;
    margin-right: auto;
}


.navbar a {
    position: relative;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
    margin-right: 3.5rem;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.active {
    color: var(--main-color);
}


.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--main-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

.header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}




/* home section design */
.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 100%;
    margin-top: 40px;
    position: absolute;
}

.home-content h3 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: -20px;
}

.home-content h1 {
    font-size: 7rem;
    background-color: var(--text-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0;
}


.home-content .frontend {
    font-size: 4rem;
    white-space: nowrap;
    margin-top: -20px;
    font-weight: 600;
    display: flex;
    width: max-content;
}

.frontend div {
    overflow: hidden;
    border-right: 3px solid var(--text-color);
    width: 16ch;
    margin-left: 8px;
    animation: typing 3s steps(20, end) infinite alternate, blink 0.5s step-end infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {

    from,
    to {
        border-color: var(--bg-color);
    }

    50% {
        border-color: var(--text-color);
    }
}

.home-content p {
    font-size: 2rem;
    margin-top: 20px;
    width: 80%;
    color: var(--text-color);
}


.social-media {
    margin-top: 20px;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--text-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--text-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: 10rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
    margin-right: 20px;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

:root {
    --shadow-color: linear-gradient(190deg, rgb(3, 231, 231), rgb(202, 4, 202));
}

.home-img img {
    width: 100%;
    height: 126vh;
    top: 0;
    left: 0;
    margin: auto;
    position: absolute;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
}



span {
    color: var(--main-color);
}





/* About section design */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-img img {
    width: 37vw;
    margin-top: 34px;
    margin-right: 46px;
}

.heading {
    font-size: 4.5rem;
    text-align: center;

    background: linear-gradient(180deg, black, #012933);
    position: relative;
    width: 100%;
    border-radius: 10rem;
}

.about .heading {
    margin-top: 50px;
}





.about-content p {
    font-size: 2rem;
    margin: 2rem 0 3rem;
}

.about-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    min-height: auto;
    padding-bottom: 10rem;
}

.skills h2 {
    margin-bottom: 5rem;
}

.skills .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.my-skills {
    width: 100%;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.my-skills h1,
.my-certificate h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 15px;
}

.skills-container .skills-box {
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}



.skills-container .skills-box:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.skills_names {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.skills_names i {
    font-size: 5vw;
    color: var(--main-color);
    margin: 10px;
}

.skills-level {
    display: flex;
    flex-direction: column;
    width: 27vw;
    text-align: start;
}

.level {
    background-color: var(--main-color);
    width: 100%;
    height: 10px;
    border-radius: 10px;
}

.level div {
    background: linear-gradient(to right, rgb(17, 0, 255), purple);
    width: 80%;
    height: inherit;
    border-radius: 10px;
}

.skills_names span {
    font-size: 2.5vw;
    margin-bottom: 7px;
}

.my-certificate {
    width: 100%;
    height: 52rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
}

.certificates-div {
    width: 100%;
    height: 50rem;
    display: flex;
    gap: 20px;
    align-items: center;
}


.my-certificate .certificate {
    background: var(--bg-color);
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.my-certificate .certificate:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.05);
}

.certificate img {
    height: 415px;
    object-fit: cover;
}







.projects {
    min-height: auto;
    padding-bottom: 10rem;
}

.projects h2 {
    margin-bottom: 4rem;
}

.projects .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(156, 156, 156);
    overflow: hidden;
    padding: 10px;
}

.projects-box img {
    width: 50%;
    transition: .5s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.projects-box:hover .projects-layer {
    opacity: 1;
}

.projects-layer h4 {
    font-size: 3rem;
}

.projects-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.projects-layer a i {
    font-size: 2rem;
    color: #333;
}







.experience h2 {
    margin-bottom: 60px;
}

.experience-container {
    width: 100%;
    height: 51rem;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
}

.certificates {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: max-content;
}

.experience-certificate {
    background: var(--bg-color);
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.experience-certificate:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.05);
}


.experience-certificate img {
    /* width: 100%; */
    height: 415px;
    object-fit: cover;
}







/* contact section  */

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem rgb(75, 74, 74);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}



@media ((max-width: 1050px) and (min-width: 768px)) {
    .home-img img {
        height: 108vh;
    }

    .navbar a {
        font-size: 1.9vw;
    }
}

@media ((max-width: 900px) and (min-width: 768px)) {

    .navbar a:nth-child(1) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        /* opacity: .7; */
    }


    .experience-container {
        height: 46rem;
    }



    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 8.5rem;
        font-size: 2.6rem;
        color: var(--text-color);
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 50vw;
        width: 100%;
        height: 100vh;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 5rem 0;
        color: var(--text-color);
    }


    .navbar a::before {
        display: none;
    }

    .home-img img {
        height: 100vh;
    }

}

@media (max-width: 768px) {

    .navbar a:nth-child(1) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
    }

    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 8.5rem;
        font-size: 2.6rem;
        color: var(--text-color);
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 50vw;
        width: 100%;
        height: 100vh;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 5rem 0;
        color: var(--text-color);
    }

    .navbar a::before {
        display: none;
    }

    .home-img img {
        height: 88vh;
        border-radius: 10rem;
        margin-top: 9rem;
    }

    .home-content h1 {
        font-size: 9vw;
    }

    .home-content h3 {
        font-size: 5vw;
    }

    .home-content .frontend {
        font-size: 5vw;
    }

    .home-content p {
        width: 90%;
        font-size: 2.6vw;
    }

    .btn {
        font-size: 2.6vw;
    }

    .my-skills {
        grid-template-columns: 1fr;
    }

    .skills-level {
        width: 68vw;
    }

    .certificate img {
        height: 51vw;
    }

    .about-div {
        flex-direction: column;
    }

    .about-img img {
        margin: auto;
        width: 70vw;
    }

    .projects .projects-container {
        grid-template-columns: 1fr;
    }

    .skills_names i {
        font-size: 6rem;
    }

    .skills_names span {
    font-size: 3rem;
    }

    .contact form .input-box {
        flex-direction: column;
    }

    .contact form .input-box input  {
        width: 100%;
    }
}


@media (max-width: 500px) {

    .home .home-content {
        margin-top: 135px;
    }

    .home-img img {
        height: 57vh;
        margin-top: 130px;
        border-radius: 11rem;
    }

    .home-content p {
        font-size: 3.5vw;
    }

    .btn {
        font-size: 3.5vw;
        padding: 1rem 2rem;
    }

    .certificates-div {
        height: 33rem;
    }

    .my-certificate {
        height: 33rem;
    }

    .home {
        padding: 0px 9%;
        min-height: 72vh;
    }

    .skills_names i {
        font-size: 5rem;
    }

    .skills_names span {
    font-size: 5vw;
    }

    .experience-certificate img {
        height: 52vw;
    }

    .experience-container {
        height: 35rem;
    }

    .heading {
        font-size: 9vw;
    }

    .skills-container .skills-box {
        width: 85%;
    }

    .skills_names {
        width: 90%;
    }

}

@media (max-width: 350px) {
    .btn {
        font-size: 1.4rem;
        padding: 1rem 1.5rem;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .home-content p {
        font-size: 4vw;
    }

    .home-img img {
       height: 64vh;
        margin-top: 172px;
        border-radius: 8rem;
    }

    .heading {
    font-size: 3rem;
    }

    .skills_names i {
    font-size: 3rem;
    }

    .skills_names span {
    font-size: 2rem;
    }

    .projects {
        margin-top: -130px;
    }
}